:root {

  background-color: #000000;
  --dark-gray: #242424;
  --light-green: #72DB73;
  --white: #ffffff;
  --red: #ff0000;
  --green: #148A08
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}